In [4]:
#Q1

In [5]:
import pandas as pd

l1 = [4,8,15,23,42]

ser = pd.Series(l1)

print(ser)

0     4
1     8
2    15
3    23
4    42
dtype: int64

In [ ]:
#Q2

In [7]:
l2 = ["a","b","c","d","e","f","g","h","i","j"]

ser1 = pd.Series(l2)

print(ser1)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

In [ ]:
 # Q3

In [12]:
import pandas as pd

data = [['Alice',25,'Female'],['Bob',30,'Male'],['Claire',27,'Female']]


df = pd.DataFrame(data,columns=['Name','Age','Gender'])

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
# Q4

In [13]:
# DataFrame is a two-dimensional labeled data structure capable of holding data of different types (e.g., integers, floats, strings) in rows and columns, 
# Similar to a spreadsheet or SQL table. 
# It is essentially a collection of pandas Series objects, where each Series represents a column in the DataFrame. 
# DataFrames provide powerful functionalities for data manipulation, analysis, and cleaning.

In [ ]:
# Q5

In [ ]:
# index(),insert(),columns(),between()
# index()- it is used to change the index label in the series
# insert()- it is used to insert new column in the dataframe
# columns()- Returns the columns lables in the dataframe
# between()- extracts rows where column values between predefined range

In [ ]:
# Q6

In [ ]:
# Panel and Data Frame are Mutable but series are Immutable

In [16]:
import pandas as pd


name = ['ayush', 'Aqdas', 'Prasanna','Abhipsita']
Rating = ['1200','1500','1700','1900']

name_series = pd.Series(name)
rating_series = pd.Series(Rating)

frame = {'Name':name_series,'Rating': rating_series}

Table = pd.DataFrame(frame)

print(Table)

        Name Rating
0      ayush   1200
1      Aqdas   1500
2   Prasanna   1700
3  Abhipsita   1900